<div id="tests">
  <% @tests.each_with_index do |t, i| %>
    <% if t[:passed]
         style = "alert-success"
         message = "Passed"
       elsif (t[:score] < t[:weight] && t[:score] > 0)
         style = "alert-warning"
         message = "Partial pass"
       elsif t[:passed] == false
         style = "alert-danger"
         message = "Test failed"
       else
         style = "alert-info"
         message = "Test"
       end %>
    <div class="alert <%= style %>">
      <p>
        <% if cur_reg_staff || @grade.available %>
        <span class="pull-right">Points:
          <% if t[:score].present? && t[:weight].present? %>
            <%= to_fixed(t[:score]) %>&nbsp;/&nbsp;<%= to_fixed(t[:weight]) %>
          <% elsif t[:score].present? || t[:weight].present? %>
            <%= to_fixed(t[:score] || t[:weight]) %>
          <% else %>
            <%= to_fixed(1) %>
          <% end %>
        </span>
        <% end %>
        <b><%= message %>:</b> <%= t[:name] %>
      </p>
      <pre><%= t[:output] %></pre>
      <% if t.dig(:info, 'actual') && t.dig(:info, 'expected') %>
      <%= render "actual_expected", :actual => t.dig(:info, 'actual'), :expected => t.dig(:info, 'expected') %>
      <% end %>
      <% if t.dig(:info, 'stack') %>
      <p style="display: inline-block;">Stack:</p>
      <pre><%= t.dig(:info, 'stack').join("\n") %></pre>
      <% end %>
    </div>
  <% end %>  
</div>
