<div id="tests">
  <% @tests.each_with_index do |t, i| %>
    <% if ((t['score'].present? && (t['score'] == t['max_score'])) || t['passed'])
         style = "alert-success"
         message = "Passed"
       elsif (t['score'].present? && t['max_score'].present? && t['score'] < t['max_score'] && t['score'] > 0)
         style = "alert-warning"
         message = "Partial pass"
       else
         style = "alert-danger"
         message = "Test failed"
       end %>
    <div class="alert <%= style %>">
      <p>
        <% if cur_reg_staff %>
        <span class="pull-right">Weight: <%= t['score'] || 1 %></span>
        <% end %>
        <b><%= message %>:</b> <%= t['name'] %>
      </p>
      <p><%= t['output'] %></p>
      <% if t.dig(:info, 'actual') && t.dig(:info, 'expected') %>
      <%= render "actual_expected", :actual => t.dig(:info, 'actual'), :expected => t.dig(:info, 'expected') %>
      <% end %>
      <% if t.dig(:info, 'stack') %>
      <p style="display: inline-block;">Stack:</p>
      <pre><%= t.dig(:info, 'stack').join("\n") %></pre>
      <% end %>
    </div>
  <% end %>  
</div>
